
body {

font-family: 'nordique_proregular', sans-serif;
     font-weight: normal;
    font-style: normal;
background: #000;
    margin: 0;
    padding:0;
    color:#fff;
    display:flex;
    
}


.sidenav {
  max-width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
    height:100%;
  
  overflow-x: hidden;
    border-right: solid 1px rgba(255,255,255,250);

}

.sidenav a {
  padding: 5px 40px 5px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #ededed;
  display: block;
}

.sidenav a:hover {
  color: #ff0000;
}

.main {
  margin-left: 200px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */

}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}


#mydiv {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
}

#mydivheader img {
    max-width:200px;
}
